.header {
    background-image: url("image/Layer21.png");
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
}
h2 {
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.subtitle {
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.borderH1 {
    width: 831px;
    height: 129px;
    background-color: rgb(51, 51, 51,.2);
    opacity: .2;
    border: 2px white;
}
h1 {
    font-family: Montserrat, sans-serif;
    color:  rgb(255, 255, 255);
    font-size: 54px;
    font-weight: 700;
    text-align: left;

}

h1 span {
    color:  #f1ad1d;
}


